<!doctype html>
<html>
<header class="headerMenu">
    <h1 class="header_title">System for Coordination of Autonomous Vehicles</h1>
    <nav class="menuButtons">
        <ul class="nav_bar">
            <li class="button_list" id="home_button"><a onclick="gotoHome()">Home</a></li>
            <li class="button_list" id="add_destination_button"><a onclick="gotoDestinations()">User Story 4: Destinations</a></li>
            <li class="button_list" id="obstacles_button"><a onclick="gotoObstacles()">User Stories 10, 11: Obstacles</a></li>
			<li class="button_list" id="parking_button"><a onclick="gotoParking()">User Stories 13, 14, 15: Parking</a></li>
        </ul>
    </nav>
</header>
<div style="width: 1400px; overflow: auto; position: page">
    <body>
        <ul class="nav_pillar">
            <li class="pillar_button_list" id="current_location">Parking</li>
            <li class="pillar_button_list" id="get_parking_button"><a onclick="gotoGetOpenParking()">User Story 13: Display Open Parking Spaces</a></li>
            <li class="pillar_button_list" id="add_parking_button"><a onclick="gotoUpdateParking()">User Story 14: Update Parking Status</a></li>
            <li class="pillar_button_list" id="reserve_parking_button"><a onclick="gotoReserveParking()">User Story 15: Reserve a Parking Space</a></li>
            <li class="pillar_button_list" id="reserve_parking_button"><a onclick="gotoAddParking()">Not a user story yet: Add a New Parking Space</a></li>
        </ul>
        <style>
            header {
                background-color: #000000; /* OSU Paddletail Black */
                color: #DC4405; /* OSU Beaver Orange */
                border-bottom-style: solid;
                border-bottom-width: thick;
                border-color: #DC4405; /* OSU Beaver Orange */
                width: calc(100% - 20px);
                min-width: 1400px;
                position: absolute;
                top: 0px;
                left: 0px;
                padding-left: 20px;
            }
            body {
                background-color: dimgray;
                min-width: 1400px;
                _width: expression( document.body.clientWidth > 1000 ? "1400px" : "auto" );
            }
            footer {
                background-color: #000000; /* OSU Paddletail Black */
                color: #DC4405; /* OSU Beaver Orange */
                border-top-style: solid;
                border-top-width: thick;
                border-color: #DC4405; /* OSU Beaver Orange */
                width: calc(100% - 20px);
                min-width: 1400px;
                position: absolute;
                bottom: 0px;
                left: 0px;
                padding-left: 20px;
                padding-bottom: 20px;
            }
            .title_block_name {
                padding-bottom: 0px;
                color: #FFFFFF; /* OSU Bucktooth White */
            }
            table {
                display: block;
                border-collapse: collapse;
                table-layout: fixed;
                border-style: solid;
                border-width: thin;
            }
            td, th {
                word-wrap: break-word;
            }
            thead {
                background-color: #DC4405;
                display: block;
            }
            tbody {
                display: block;
                overflow-y: auto;
                height: 150px;
                border-right-style: solid;
                border-right-width: thin;
                border-left-style: solid;
                border-left-width: thin;
            }
                tbody th {
                    background-color: #DC4405;
                    border-right-style: solid;
                    border-right-width: thin;
                    border-left-style: solid;
                    border-left-width: thin;
                }
                tbody tr:nth-child(even) {
                    background-color: antiquewhite;
                    border-right-style: solid;
                    border-right-width: thin;
                    border-left-style: solid;
                    border-left-width: thin;
                }
                tbody tr:nth-child(odd) {
                    background-color: #FFFFFF;
                    border-right-style: solid;
                    border-right-width: thin;
                    border-left-style: solid;
                    border-left-width: thin;
                }
            .data_table {
                position: absolute;
                top: 200px;
                left: 175px;
                background-position-x: center;
                min-width: 600px;
            }
            .nav_bar {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #000000;
            }
            .button_list {
                float: left;
            }
                .button_list a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }
                    .button_list a:hover {
                        background-color: #333;
                        cursor: pointer;
                    }
            .nav_pillar {
                left: 0px;
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 150px;
                background-color: gray;
                top: 129px;
                height: calc(100% - 200px);
                position: absolute; /* Make it stick, even on scroll */
                overflow: auto; /* Enable scrolling if the sidenav has too much content */
            }
            .pillar_button_list a {
                display: block;
                color: #000;
                padding: 8px 16px;
                text-decoration: none;
            }
                /* Change the link color on hover */
                .pillar_button_list a:hover {
                    background-color: #555;
                    color: white;
                    cursor: pointer;
                }
            #current_location {
                display: block;
                background-color: #DC4405;
                color: #000;
                padding: 8px 16px;
                text-decoration: none;
                font-weight: bold;
                border-bottom: solid;
                border-width: thin;
                border-color: #000000;
            }
            .dest_adr {
                border-style: solid;
                border-width: thin;
            }
            .destination_head {
                border-right-style: solid;
                border-right-width: thin;
                border-left-style: solid;
                border-left-width: thin;
                border-bottom-style: solid;
                border-bottom-width: thin;
                border-top-style: solid;
                border-top-width: thin;
            }
            #form_button {
                position: absolute;
                top: 355px;
                width: 115px;
                min-width: 115px;
                background-color: #DC4405;
                color: white;
                padding: 5px 5px;
                margin: 4px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                left: 575px;
            }
                #form_button:hover {
                    background-color: #af3401; /*dark orange*/
                }
            form {
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 10px;
                left: 0px;
                width: 5px;
                min-width: 0px;
                height: 5px;
            }
	    
	  #TableTitle {
                position: absolute;
                top: 140px;
                left: 175px;
                background-position-x: center;
                min-width: 600px;
            }


        </style>

        <br />
        <h2 id="TableTitle">Parking Space Reserved</h2>
        <table class="data_table" style="table-layout:fixed">
            <thead>
            </thead>
            <tbody>

                <tr>
                    <th width="300" style="overflow:hidden; max-width:300px; min-width:300px" ; class="destination_head">Parking Space:</th>
                    <td width="300" style="overflow:hidden; max-width:300px; min-width:300px" ; class="destination_head" >{{p_id}}</td>
                </tr>
            </tbody>
	      </table>
	        <form id="reserve-parking" action="" method="">
        <fieldset>
            <legend>Pick a Parking Spot to Reserve</legend>
            <p>
                <label class="p_id_dropDown">Parking ID:</label>
                <select name="p_id" id="p_id">
                    {{#each parkingID}}
                    <option value="{{p_id}}">{{parking_id}}</option>
                    {{/each}}
                </select>
            </p>
        </fieldset>
        <br />
    </form>
    <button id="form_button" onclick="reserveParkingByID()">Continue</button>
        </table>
        

        <!--  Footer  -->
        <footer class="title_block">
            <div class="title_block_name">
                <b>Project Group 21</b> <br /><i> Jordan Bartos,  Joseph Lewis,  Emily Lyle,  Collin Rumsey,  Cory Schmidt</i>
            </div>
            Spring 2019
            <br /> Software Engineering I / CS 361_400
        </footer>
    </body>
</html>
